Chap00/0Python-matplotlib
Chap00/0Python-pandas
Chap00/0Python-PyMC
Chap00/0Python-sklearn
Chap01/1Error-0105Histogram
Chap01/1Error-0108Mmeans
Chap01/1Error-0112numpy-average
Chap01/1Error-0301mlsq
Chap01/1Error-030201Line
Chap01/1Error-030202LineYerr
Chap01/1Error-030203LineXerrYerr
Chap01/1Error-0402leastsquares
Chap01/1Error-0402SDM
Chap02/2Bayes-0202DiseaseRate
Chap02/2PyMC-0502Line-01
Chap02/2PyMC-0502Line-02
Chap02/2PyMC-06DampedOsc
